<div ng-repeat="news in getNews">
    <div ng-hide="getNews.indexOf(news) > newsCounter">{{news.title}}
        <button ng-click="manageFavorite(news)">{{displayFavoriteStatus(news)}} favorite</button>
        <button ui-sref="details({newsId: news.id})">Details</button>
    </div>
</div>

<button ng-click="increaseNewsCounter()" ng-if="getNews.length > newsCounter">Load more news</button>
<div ng-show="getNews.length <= newsCounter"><strong>No more news</strong></div>
<h3>Search</h3>
<input type="text" ng-model="searchHome" /><br />
<div ng-repeat="news in searchNews()">{{news.title}}</div>